<section class="sel-geladeiras-section">
  <div class="container">
    <div class="row b-f-section-title">
      <h2>Seleção de <span>Geladeiras</span></h2>
    </div>
    <div class="row">
      <article *ngFor="let selProduct of selProducts" class="col-md-3 b-f-item-wrap" id="{{selProduct.id}}">
        <div class="b-f-article">
          <div class="b-f-img-container">
            <img src="assets/images/{{selProduct.items[0].images[1].imageUrl}}" alt="selProduct.items[0].images[1].imageText">
          </div>
          <div class="b-f-article-name">{{selProduct.productName}}</div>
          <div class="b-f-product-ref">{{selProduct.modelName}}</div>
          <div class="b-f-product-price-info" *ngFor="let selItem of selProduct.items">
            <div class="b-f-list-price">
              De: {{selItem.ListPrice | currency: 'BRL' }}. Por:
            </div>
            <div class="b-f-price">{{selItem.Price | currency: 'BRL' }}</div>
            <div class="b-f-pagamento-a-vista">à vista no boleto bancário</div>
            <div class="b-f-pagamento-vezes">ou até 12x de {{ selItem.Price | divideIn: 12 | currency: 'BRL'}}</div>
            <button class="btn btn-add-to-cart">Adicionar ao Carrinho</button>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
<section class="b-f-mais-vendidos-section">
  <div class="container">
    <div class="row b-f-section-title">
      <h2>Os mais vendidos da categoria <span>Geladeiras</span></h2>
    </div>
    <div class="row"  >
      <article *ngFor="let product of products" class="col-md-3 b-f-item-wrap" id="{{product.id}}">
        <div class="b-f-article">
          <div class="b-f-img-container">
            <img src="assets/images/{{product.items[0].images[1].imageUrl}}" alt="{{product.items[0].images[1].imageText}}">
          </div>
          <div class="b-f-article-name">{{product.productName}}</div>
          <div class="b-f-product-ref">{{product.modelName}}</div>
          <div class="b-f-product-price-info" *ngFor="let item of product.items" >
            <div class="b-f-list-price">
              De: {{ item.ListPrice | currency: 'BRL' }}. Por:
            </div>
            <div class="b-f-price">{{item.Price | currency: 'BRL' }}</div>
            <div class="b-f-pagamento-a-vista">à vista no boleto bancário</div>
            <div class="b-f-pagamento-vezes">ou até 12x de {{ item.Price | divideIn: 12 | currency: 'BRL' }}</div>
            <button class="btn btn-add-to-cart">Adicionar ao Carrinho</button>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>