<section class="sel-geladeiras-section">
  <div class="container">
    <div class="row b-f-section-title">
      <h2>Seleção de <span>Geladeiras</span></h2>
    </div>
    <div class="row">
      <article class="col-md-3 b-f-item-wrap">
        <div class="b-f-article">
          <div class="b-f-img-container">
            <img src="assets/images/product-01-imagem-1000X1000.jpg" alt="">
          </div>
          <div class="b-f-article-name">Geladeira Brastemp Ative! Inverse Frost Free All Black 422 Litros</div>
          <div class="b-f-product-ref">CF676AR</div>
          <div class="b-f-product-price-info">
            <div class="b-f-list-price">
              De: R$ 2.219,00. Por:
            </div>
            <div class="b-f-price">R$ 2.121,00</div>
            <div class="b-f-pagamento-a-vista">à vista no boleto bancário</div>
            <div class="b-f-pagamento-vezes">ou até 12x de R$ 528,06</div>
            <button class="btn btn-add-to-cart">Adicionar ao Carrinho</button>
          </div>
        </div>
      </article>
      <article class="col-md-3 b-f-item-wrap">
        <div class="b-f-article">
          <div class="b-f-img-container">
            <img src="assets/images/product-01-imagem-1000X1000.jpg" alt="">
          </div>
          <div class="b-f-article-name">Geladeira Brastemp Ative! Inverse Frost Free All Black 422 Litros</div>
          <div class="b-f-product-ref">CF676AR</div>
          <div class="b-f-product-price-info">
            <div class="b-f-list-price">
              De: R$ 2.219,00. Por:
            </div>
            <div class="b-f-price">R$ 2.121,00</div>
            <div class="b-f-pagamento-a-vista">à vista no boleto bancário</div>
            <div class="b-f-pagamento-vezes">ou até 12x de R$ 528,06</div>
            <button class="btn btn-add-to-cart">Adicionar ao Carrinho</button>
          </div>
        </div>
      </article>
      <article class="col-md-3 b-f-item-wrap">
        <div class="b-f-article">
          <div class="b-f-img-container">
            <img src="assets/images/product-01-imagem-1000X1000.jpg" alt="">
          </div>
          <div class="b-f-article-name">Geladeira Brastemp Ative! Inverse Frost Free All Black 422 Litros</div>
          <div class="b-f-product-ref">CF676AR</div>
          <div class="b-f-product-price-info">
            <div class="b-f-list-price">
              De: R$ 2.219,00. Por:
            </div>
            <div class="b-f-price">R$ 2.121,00</div>
            <div class="b-f-pagamento-a-vista">à vista no boleto bancário</div>
            <div class="b-f-pagamento-vezes">ou até 12x de R$ 528,06</div>
            <button class="btn btn-add-to-cart">Adicionar ao Carrinho</button>
          </div>
        </div>
      </article>
      <article class="col-md-3 b-f-item-wrap">
        <div class="b-f-article">
          <div class="b-f-img-container">
            <img src="assets/images/product-01-imagem-1000X1000.jpg" alt="">
          </div>
          <div class="b-f-article-name">Geladeira Brastemp Ative! Inverse Frost Free All Black 422 Litros</div>
          <div class="b-f-product-ref">CF676AR</div>
          <div class="b-f-product-price-info">
            <div class="b-f-list-price">
              De: R$ 2.219,00. Por:
            </div>
            <div class="b-f-price">R$ 2.121,00</div>
            <div class="b-f-pagamento-a-vista">à vista no boleto bancário</div>
            <div class="b-f-pagamento-vezes">ou até 12x de R$ 528,06</div>
            <button class="btn btn-add-to-cart">Adicionar ao Carrinho</button>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
<section class="b-f-mais-vendidos-section">
  <div class="container">
    <div class="row b-f-section-title">
      <h2>Os mais vendidos da categoria <span>Geladeiras</span></h2>
    </div>
    <div class="row"  >
      <article *ngFor="let product of products" class="col-md-3 b-f-item-wrap" id="{{product.id}}">
        <div class="b-f-article">
          <div class="b-f-img-container">
            <img src="assets/images/product-01-imagem-1000X1000.jpg" alt="">
          </div>
          <div class="b-f-article-name">Geladeira Brastemp Ative! Inverse Frost Free All Black 422 Litros</div>
          <div class="b-f-product-ref">CF676AR</div>
          <div class="b-f-product-price-info">
            <div class="b-f-list-price">
              De: R$ 2.219,00. Por:
            </div>
            <div class="b-f-price">R$ 2.121,00</div>
            <div class="b-f-pagamento-a-vista">à vista no boleto bancário</div>
            <div class="b-f-pagamento-vezes">ou até 12x de R$ 528,06</div>
            <button class="btn btn-add-to-cart">Adicionar ao Carrinho</button>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>